# all ignore #
/*
/.**

##### インストーラー #####
!install.sh
!Mac.sh
!windows11.ps1

# スタンダート #
!Config
Config/.Portable
!Package
!Setup

# ファイル #
!.bashrc
!.bash_profile
!.bash_logout
!.zshrc
!.vimrc

# Python #
Setup/Python/*
Setup/Python/lib/__pycache__
!Setup/Python/main.py
!Setup/Python/lib/
!Setup/Python/requirements.txt
!Setup/Python/README.md

# 個人情報 #
.ssh
.aws
.bash_history
.zsh_history

##### Git #####
!LICENSE
!README.md
!.gitignore
!Resource
Resource/*
!Resource/github