[mgr]
sort_by = "natural"
show_hidden = true
sort_dir_first = true

# プラグイン
[plugin]
prepend_previewers = [
  { mime = "audio/*",   run = "exifaudio"}
]

[opener]
edit = [
  { run = '${EDITOR:-vi} "$@"', desc = "$EDITOR", block = true, for = "unix" },
  { run = 'nvim "%*"', block = true, desc = "nvim", for = "windows" },
  { run = 'micro "%*"', block = true, desc = "micro", for = "windows" },
  { run = 'windsurf %*', orphan = true, desc = "windsurf", for = "windows" },
  { run = 'code %*', orphan = true, desc = "code", for = "windows" },
]
play_image = [
  { run = 'mpv --force-window "$@"', orphan = true, for = "unix" },
  { run = 'mpv --force-window %*', orphan = true, for = "windows" },
]
play_video = [
  { run = 'mpv --force-window "$@"', orphan = true, for = "unix" },
  { run = 'mpv --force-window %*', orphan = true, for = "windows" },
  { run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]
play_music = [
  { run = 'sap -i %*', block = true, for = "windows" },
  { run = 'mpv --force-window "$@"', orphan = true, for = "unix" },
  { run = 'mpv --force-window %*', orphan = true, for = "windows" },
  { run = '''mediainfo "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show media info", for = "unix" },
]
txt_edit = [
  { run = 'edit "%*"', block = true, desc = "edit", for = "windows" },
]

[open]
prepend_rules = [
  { name = "*.txt", use = "txt_edit" },
  { name = "*.md", use = "txt_edit" },
]
rules = [
  # Folder
  { name = "*/", use = [ "edit", "open", "reveal" ] },
  # Text
  { mime = "text/*", use = [ "edit", "reveal" ] },
  # Image
  { mime = "image/*", use = [ "play_image", "reveal" ] },
  # Audio
  { mime = "audio/*", use = [ "play_music", "reveal" ] },
  # Video
  { mime = "video/*", use = [ "play_video", "reveal" ] },
  # Archive
  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract", "reveal" ] },
  # JSON
  { mime = "application/{json,ndjson}", use = [ "edit", "reveal" ] },
  { mime = "*/javascript", use = [ "edit", "reveal" ] },
  # Empty file
  { mime = "inode/empty", use = [ "edit", "reveal" ] },
  # Fallback
  { name = "*", use = [ "open", "reveal" ] },
]

